@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff2fc;
}

.product-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}
.product-container .product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: whitesmoke;
  width: 300px;
  height: 400px;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(149, 149, 149);
  transition: all 500ms ease;
}
.product-container .product-item:hover {
  transform: scale(1.05);
}
.product-container .product-item .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.product-container .product-item img {
  width: 100%;
  height: auto;
}
.product-container .product-item .item-info {
  text-align: start;
}
.product-container .product-item .item-info h3 {
  cursor: pointer;
  transition: all 500ms ease;
}
.product-container .product-item .item-info h3:hover {
  color: #FF01B8;
}

.nav {
  background: rgb(219, 0, 255);
  background: linear-gradient(90deg, rgb(219, 0, 255) 0%, rgb(255, 1, 184) 100%);
}
.nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  font-weight: 700;
  max-width: 1200px;
  margin: 0 auto;
  color: whitesmoke;
  height: 70px;
}
.nav .logo-container {
  display: flex;
  flex-direction: row;
}
.nav .logo-container img {
  height: auto;
  width: 50px;
  margin-right: 20px;
}
.nav .menus {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 20px;
}
.nav .menus .menu {
  cursor: pointer;
  transition: all 500ms ease;
  font-size: 0.7em;
}
.nav .menus .menu:hover {
  border-bottom: 2px solid whitesmoke;
  color: #333;
  font-size: 1em;
}
.nav .menus .active {
  border-bottom: 2px solid whitesmoke;
  color: #333;
  font-size: 1em;
}
.nav .links i {
  color: white;
  font-size: 1.5em;
  transition: all 500ms ease;
  margin-right: 10px;
}
.nav .links i:hover {
  color: #333;
}

#hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 1200px;
  margin: 0 auto;
  padding: 75px 0;
  height: 100%;
  gap: 20px;
}
@media (min-width: 768px) {
  #hero {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  #hero {
    height: 78vh;
    padding-top: 0;
    overflow: visible;
  }
}
#hero .hero-banner {
  position: relative;
  width: 100%;
  height: 250px;
  cursor: pointer;
}
#hero .hero-banner:hover .hero-bg {
  transform: translate(-53%, -47%);
}
#hero .hero-banner:hover .hero-main {
  transform: translate(-47%, -53%);
}
#hero .hero-banner .hero-bg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-53%, -50%);
  height: auto;
  width: 300px;
  transition: all 500ms ease;
}
@media (min-width: 1200px) {
  #hero .hero-banner .hero-bg {
    height: 100%;
    width: auto;
  }
}
#hero .hero-banner .hero-main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 280px;
  transition: all 500ms ease;
}
@media (min-width: 1200px) {
  #hero .hero-banner .hero-main {
    height: 100%;
    width: auto;
  }
}
#hero .hero-text {
  width: 100%;
  text-align: center;
}
@media (min-width: 768px) {
  #hero .hero-text {
    text-align: start;
  }
}
#hero .hero-text h1 {
  font-size: 1.8em;
  font-weight: 900;
  color: #FF01B8;
}
@media (min-width: 768px) {
  #hero .hero-text h1 {
    font-size: 3.6em;
    line-height: 50px;
    margin-bottom: 10px;
  }
}
@media (min-width: 1200px) {
  #hero .hero-text h1 {
    font-size: 3.2em;
    line-height: 80px;
  }
}
#hero .hero-text p {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  #hero .hero-text p {
    font-size: 1.5em;
  }
}
@media (min-width: 1200px) {
  #hero .hero-text p {
    font-size: 2em;
  }
}
#hero .hero-text button {
  cursor: pointer;
  margin-top: 20px;
  padding: 10px 40px;
  color: whitesmoke;
  font-weight: 800;
  background-color: #AD00FF;
  border: 3px solid #AD00FF;
  border-radius: 20px;
  transition: all 500ms ease;
}
#hero .hero-text button:hover {
  color: #AD00FF;
  background-color: whitesmoke;
}
@media (min-width: 768px) {
  #hero .hero-text button {
    padding: 15px 50px;
    font-size: 1.5em;
    border-radius: 40px;
  }
}
@media (min-width: 1200px) {
  #hero .hero-text button {
    padding: 10px 70px;
    font-size: 1.8em;
    border-radius: 40px;
  }
}
#hero .circle1 {
  position: absolute;
  left: -20px;
  top: -100px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgba(174, 0, 255, 0.1882352941);
  z-index: -1;
  -webkit-animation: circle1-animate 2.5s alternate linear infinite;
          animation: circle1-animate 2.5s alternate linear infinite;
}
@-webkit-keyframes circle1-animate {
  0% {
    transform: scale(1);
    opacity: 1;
    background-color: rgba(174, 0, 255, 0.1882352941);
  }
  100% {
    transform: scale(1.1);
    opacity: 1;
    background-color: rgba(255, 1, 183, 0.2);
  }
}
@keyframes circle1-animate {
  0% {
    transform: scale(1);
    opacity: 1;
    background-color: rgba(174, 0, 255, 0.1882352941);
  }
  100% {
    transform: scale(1.1);
    opacity: 1;
    background-color: rgba(255, 1, 183, 0.2);
  }
}
@media (min-width: 1200px) {
  #hero .circle1 {
    width: 400px;
    height: 400px;
    left: 90px;
    top: 10px;
  }
}
#hero .circle2 {
  position: absolute;
  left: 10px;
  bottom: 0;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: rgba(255, 1, 183, 0.2);
  z-index: -1;
  -webkit-animation: circle2-animate 2s alternate linear infinite;
          animation: circle2-animate 2s alternate linear infinite;
}
@-webkit-keyframes circle2-animate {
  0% {
    transform: scale(1);
    opacity: 1;
    background-color: rgba(255, 1, 183, 0.2);
  }
  100% {
    transform: scale(1.15);
    opacity: 1;
    background-color: rgba(174, 0, 255, 0.1882352941);
  }
}
@keyframes circle2-animate {
  0% {
    transform: scale(1);
    opacity: 1;
    background-color: rgba(255, 1, 183, 0.2);
  }
  100% {
    transform: scale(1.15);
    opacity: 1;
    background-color: rgba(174, 0, 255, 0.1882352941);
  }
}
@media (min-width: 1200px) {
  #hero .circle2 {
    width: 200px;
    height: 200px;
    left: 30%;
    bottom: 25px;
  }
}
#hero .circle3 {
  position: absolute;
  right: -20px;
  bottom: 15%;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  background-color: rgba(255, 1, 183, 0.2);
  z-index: -1;
  -webkit-animation: circle3-animate 1.5s alternate linear infinite;
          animation: circle3-animate 1.5s alternate linear infinite;
}
@-webkit-keyframes circle3-animate {
  0% {
    transform: scale(1);
    background-color: rgba(255, 1, 183, 0.2);
    opacity: 1;
  }
  100% {
    transform: scale(1.3);
    background-color: rgba(174, 0, 255, 0.1882352941);
    opacity: 1;
  }
}
@keyframes circle3-animate {
  0% {
    transform: scale(1);
    background-color: rgba(255, 1, 183, 0.2);
    opacity: 1;
  }
  100% {
    transform: scale(1.3);
    background-color: rgba(174, 0, 255, 0.1882352941);
    opacity: 1;
  }
}
@media (min-width: 1200px) {
  #hero .circle3 {
    width: 200px;
    height: 200px;
  }
}

#collections {
  position: relative;
  background-color: #AD00FF;
  padding: 75px 0;
}
#collections .title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  margin-bottom: 20px;
}
#collections .title img {
  height: auto;
  width: 40px;
  margin-right: 10px;
}
#collections .title h1 {
  font-size: 1.8em;
  font-weight: 900;
}
#collections #bg-wave {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#collection-lists {
  padding: 75px 0;
  width: 100%;
  height: auto;
}
#collection-lists .title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #AD00FF;
  margin-bottom: 20px;
}
#collection-lists .title img {
  height: auto;
  width: 40px;
  margin-right: 10px;
}
#collection-lists .title h1 {
  font-size: 1.8em;
  font-weight: 900;
}

#about-us {
  background: #AD00FF;
  width: 100%;
  height: auto;
  padding: 75px 0;
}
#about-us .title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  margin-bottom: 20px;
}
#about-us .title img {
  height: auto;
  width: 40px;
  margin-right: 10px;
}
#about-us .title h1 {
  font-size: 1.8em;
  font-weight: 900;
}
#about-us .about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
  color: whitesmoke;
  text-align: center;
}
@media (min-width: 1200px) {
  #about-us .about {
    text-align: start;
  }
}
#about-us img {
  height: auto;
  width: 300px;
}
#about-us p {
  margin-top: 20px;
  padding: 0 20px;
}
@media (min-width: 1200px) {
  #about-us p {
    padding: 0;
  }
}

#contact-us {
  width: 100%;
  height: auto;
  padding: 75px 0;
  padding-left: 20px;
  padding-right: 20px;
}
#contact-us .title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #AD00FF;
  margin-bottom: 20px;
}
#contact-us .title h1 {
  font-size: 1.8em;
  font-weight: 900;
}
#contact-us .title img {
  height: auto;
  width: 40px;
  margin-right: 10px;
}
#contact-us form {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(158, 158, 158);
  padding: 20px;
  max-width: 750px;
  margin: 0 auto;
}
#contact-us form h2 {
  font-weight: 900;
}
#contact-us form .input-group {
  display: block;
  margin: 20px;
  overflow: hidden;
}
#contact-us form .input-group input {
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: 0 0 1px rgb(158, 158, 158);
  padding: 20px;
}
#contact-us form .input-group textarea {
  width: 100%;
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: 0 0 1px rgb(158, 158, 158);
  padding: 20px;
}

footer {
  background: rgb(219, 0, 255);
  background: linear-gradient(90deg, rgb(219, 0, 255) 0%, rgb(255, 1, 184) 100%);
}
footer .footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: whitesmoke;
  padding: 75px 0;
  padding-left: 20px;
  padding-right: 20px;
  gap: 20px;
  max-width: 1200px;
  margin: auto;
}
footer h1 {
  font-size: 1.6em;
}
footer ul {
  list-style: none;
}

.copyright {
  font-size: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}/*# sourceMappingURL=style.css.map */